@(ids: List[Long], message: String)

@import helper._
<!DOCTYPE html>
<html>
    <head>
        <title>111</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at(("img/favicon.png"))">
          <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
	<link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
	<script type="text/javascript" src="@routes.Assets.at("js/jquery-2.2.0.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/myjs.js")"></script>
    </head>
    <body>
    	<blockquote>@message</blockquote>
    	
    	<h1>Images</h1>
    	<ul>
        @for(id <- ids) {
            <li><img src="@routes.Application.renderImage(id)" alt="This is an image" /></li>
        }
        </ul>

        <h1>Upload</h1>
        <form method="POST" action="@routes.Application.upload()" enctype="multipart/form-data">
            <p>
                Select file
                <input type="file" name="picture"><br/>
            </p>
            <p>
                <input type="submit">
                 <a href="inex/adad/" >aaa</a>
            </p>
        </form>
    </body>
</html>

