@(studentForm: Form[Student], departments: List[String], sex: List[String])
@import play.i18n._
@main("Student Add") {
<div class="panel panel-default">
		<div class="panel-body">
		<form method="POST" action="@routes.Application.saveStudent()">
		<fieldset>
        	<legend>@Messages.get("actor.tile.pageAddStudent")</legend>
				<div class="form-group">
					<table class="table" border=2px>
						<tr>
							<td><label>@Messages.get("actor.lable.name")</label></td>
 							
							<td><input type="text"  value="" placeholder="Pleace input name" name="name" id="studentName" class="form-control" /></td>
 							@if(studentForm.hasErrors) {
 								@studentForm("name").error.get.message
 								@studentForm("birthDate").error.get.message
 								@studentForm("address").error.get.message
 							}
  						</tr>
	
						<tr>
							<td><label>@Messages.get("actor.lable.birthDate")</label></td>
							<td><input type="Text" name="birthDate"  value="" placeholder="Pleace choose birth date" id="birthDateId"
 								maxlength="25" size="25"  readonly/>  
 								 <img src="/assets/img/cal.gif"
								onclick="javascript:NewCssCal('birthDateId')" style="cursor: pointer" /></td>
						</tr>
						<tr>
							<td><label>@Messages.get("actor.lable.gender")</label></td>
							<td>
								<div class="input-group">
									@for(s <- sex) {
										@if(s == "Male"){
											<input type="radio" name="gender" value="s" CHECKED >@s</input>
										} else {
											<input type="radio" name="gender" value="s">@s</input>
										}
									}
								</div>
							</td>
						</tr>
						<tr>
							<td><label>@Messages.get("actor.lable.address")</label></td>
 
							<td><input type="text" name="address"  value="" placeholder="Pleace input address" id="studentAddress" class="form-control" /></td>
 
  						</tr>
						<tr>
							<td><label>@Messages.get("actor.lable.department")</label></td>
							<td><select name="department" class="form-control">
									@for(value <- departments) {
										<option value="@value">@value</option>
									}
							</select></td>
	
						</tr>
	
					</table>
					<button class='btnEdit btn btn-primary' type="submit" >@Messages.get("actor.title.addStudent")</button>&nbsp &nbsp &nbsp or 
					<a href="@routes.Application.listStudent()" class="btn">@Messages.get("actor.button.cancel")</a>
				</div>
			</fieldset>
		</div>
	</div>
}