@(id: Long, studentForm: Form[Student], departments: List[String], sex: List[String])
@import play.i18n._
@main("Student update") {
<a href="/changeLanguage/en/updateStudent/@studentForm.get.getId()" id="en">English</a>
<a href="/changeLanguage/ja/updateStudent/@studentForm.get.getId()" id="ja">Japanese</a>
<div class="panel panel-default">
		<div class="panel-body">
		<form method="POST" action="@routes.Application.updateStudentPost()">
		<input type="hidden" value="@studentForm.get.getId()" name="id" />
		<fieldset>
        	<legend>@Messages.get("actor.tile.pageUpdateStudent")</legend>
				<div class="form-group">
					<table class="table" border=2px>
						<tr>
							<td><label>@Messages.get("actor.lable.name")</label></td>
							<td><input type="text"  value="@studentForm.get.getName()" name="name" id="studentName" class="form-control" required="required"/></td>
  						</tr>
	
						<tr>
							<td><label>@Messages.get("actor.lable.birthDate")</label></td>
							<td><input type="Text" name="birthDate"  value="@studentForm.get.getBirthDate" id="birthDateId"
 								maxlength="25" size="25"  readonly/>  
 								 <img src="/assets/img/cal.gif"
								onclick="javascript:NewCssCal('birthDateId')" style="cursor: pointer" /></td>
						</tr>
						<tr>
							<td><label>@Messages.get("actor.lable.gender")</label></td>
							<td>
								<div class="input-group">
									@for(s <- sex) {
										@if(s == studentForm.get.getGender){
											<input type="radio" name="gender" value="@s" CHECKED />@s
										} else {
											<input type="radio" name="gender" value="@s"/>@s
										}
									}
								</div>
							</td>
						</tr>
						<tr>
							<td><label>@Messages.get("actor.lable.address")</label></td>
							<td><input type="text" name="address"  value="@studentForm.get.getAddress" id="studentAddress" class="form-control" /></td>
  						</tr>
						<tr>
							<td><label>@Messages.get("actor.lable.department")</label></td>
							<td><select name="department" class="form-control">
									@for(value <- departments) {
										@if(value == studentForm.get.getDepartment){
											<option value="@value" selected>@value</option>
										} else {
											<option value="@value">@value</option>
										}
									}
							</select></td>
	
						</tr>
	
					</table>
					<button type="submit" class="btn btn-primary">@Messages.get("actor.button.update")</button>&nbsp &nbsp &nbsp or 
					<a href="@routes.Application.listStudent()" class="btn">@Messages.get("actor.button.cancel")</a>
				</div>
			</fieldset>
		</div>
	</div>
}