@import entity._ 
@import java.util.List
@import play.i18n._
@import constants._
@import forms._
@import utils._

@(email: String,
 userForm : Form[UpdateUserForm],
 deparments : List[Deparment],
 roles : List[Role],
 emailLogin: String,
 roleIdLogin: String,
 mode: String,
 superList : List[User])
@main("Hrmanager") {
<div id="wrapper">
	@admin_header("List User",emailLogin,roleIdLogin)
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Cập Nhật Tài Khoản</h1>
					<ol class="breadcrumb">
						<li><i class="fa fa-dashboard"></i> <a href="@StringUtils.redirectPageRole(roleIdLogin)">HR Manager</a></li>
						<li class="active"><i class="fa fa-table"></i> Cập Nhật Tài Khoản</li>
					</ol>
				</div>
			</div>
			<!-- /.row -->

			<div class="row">

				<form method="POST" action="@routes.AdminController.adminUpdateUserPost(email,mode)">
					<div class="col-lg-6">
					<div class="form-group">
							<label>Email</label> <input class="form-control" value="@userForm("email").value" name="email" id="email" readonly="readonly">
							<span class="help-block">@if(userForm("email").hasErrors) {@Messages.get(userForm("email").error.get.message)}</span>
				   </div>
						<div class="form-group">
							<label>Tên tắt</label> <input class="form-control" value="@userForm("name").value" name="name" id="name">
							<span class="help-block">@if(userForm("name").hasErrors) {@Messages.get(userForm("name").error.get.message)}</span>
						</div>
						
						<div class="form-group">
							<label>Họ và Tên</label> <input class="form-control" value="@userForm("fullName").value" name="fullName" id="fullName">
							<span class="help-block">@if(userForm("fullName").hasErrors) {@Messages.get(userForm("fullName").error.get.message)}</span>
						</div>
						
						<div class="form-group">
							<label>Ngày sinh</label> <input class="form-control" placeholder="YYYY-MM-DD" value="@userForm("dateBorn").value" name="dateBorn" id="dateBorn">
							<span class="help-block">@if(userForm("dateBorn").hasErrors) {@Messages.get(userForm("dateBorn").error.get.message)}</span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label>Quyền hạn</label>
							@if(roleIdLogin != "1") {
								@for(value <- roles) {
									@if(userForm("roleId").value.get == value.roleId){
								 <input class="form-control" value="@value.roleName" name="roleName" id="roleName" readonly="readonly">
								 <input class="form-control" value="@userForm("roleId").value" name="roleId" id="roleId" type="hidden">
								 }
								 }
							} else {
								<select class="form-control" name="roleId" id="roleId">
								@for(value <- roles) {
									@if(userForm("roleId").value.get == value.roleId){
										<option value="@value.roleId" selected>@value.roleName</option>
									} else {
										<option value="@value.roleId">@value.roleName</option>
									}
								}
								</select>
							}
							<span class="help-block"></span>
						</div>
						<div class="form-group">
							<label>Mật khẩu</label> <input class="form-control" value="@userForm("passWord").value" name="passWord" id="passWord" type="password">
							<span class="help-block">@if(userForm("passWord").hasErrors) {@Messages.get(userForm("passWord").error.get.message)}</span>
						</div>
						<div class="form-group">
							<label>Bộ phận</label>
							<select class="form-control" name="deparmentId" id="deparmentId">
								@for(value <- deparments) {
									@if(userForm("deparmentId").value.get.toInt == value.deparmentId){
										<option value="@value.deparmentId" selected>@value.deparmentName</option>
									} else {
										<option value="@value.deparmentId">@value.deparmentName</option>
									}
								}
							</select>
							<span class="help-block"></span>
						</div>
						
						<div class="form-group">
							<label>Cấp trên</label>
							<select class="form-control" name="emailUpper" id="emailUpper">
								<option value="" selected></option>
								@for(emailUser <- superList) {
									@if(userForm("emailUpper").value.get.toString == emailUser.email){
										<option value="@emailUser.email" selected>@emailUser.fullName</option>
									} else {
										<option value="@emailUser.email">@emailUser.fullName</option>
									}
								}
							</select>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary">Cập nhật</button>
							<a href="@StringUtils.redirectPageRole(roleIdLogin)">
			                <button type="button" class="btn btn-default">Hủy bỏ</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
}
