@import entity._ 
@import java.util.List
@import play.i18n._

@(email: String, userForm : Form[CreateUserForm], deparments : List[Deparment], roles : List[Role]) 
@main("Welcome to Play") {
<div id="wrapper">
	@admin_header("List User","a","b")
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">List user</h1>
					<ol class="breadcrumb">
						<li><i class="fa fa-dashboard"></i> <a href="index.html">HR Manager</a></li>
						<li class="active"><i class="fa fa-table"></i> Update user</li>
					</ol>
				</div>
			</div>
			<!-- /.row -->

			<div class="row">

				<form method="POST" action="@routes.AdminController.adminUpdateUserPost(email)">
					<div class="col-lg-6">
						<div class="form-group">
							<label>Email</label>
							<input class="form-control" value="@userForm("email").value" name="email" id="email">
							<span class="help-block">@if(userForm("email").hasErrors) {@Messages.get(userForm("email").error.get.message)}</span>
						</div>
						
						<div class="form-group">
							<label>Name</label> <input class="form-control" value="@userForm("name").value" name="name" id="name">
							<span class="help-block">@if(userForm("name").hasErrors) {@Messages.get(userForm("name").error.get.message)}</span>
						</div>
						
						<div class="form-group">
							<label>Full Name</label> <input class="form-control" value="@userForm("fullName").value" name="fullName" id="fullName">
							<span class="help-block"></span>
						</div>
						
						<div class="form-group">
							<label>Date Born</label> <input class="form-control" value="@userForm("dateBorn").value" name="dateBorn" id="dateBorn">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label>Role</label>
							<select class="form-control" name="roleId" id="roleId">
								@for(value <- roles) {
									@if(userForm("roleId").value.get == value.roleId){
										<option value="@value.roleId" selected>@value.roleName</option>
									} else {
										<option value="@value.roleId">@value.roleName</option>
									}
								}
							</select>
							<span class="help-block"></span>
						</div>
						
						<div class="form-group">
							<label>Password</label> <input class="form-control" value="@userForm("passWord").value" name="passWord" id="passWord">
							<span class="help-block"></span>
						</div>
						
						<div class="form-group">
							<label>Deparment</label>
							<select class="form-control" name="deparmentId" id="deparmentId">
								@for(value <- deparments) {
									@if(userForm("deparmentId").value.get.toInt == value.deparmentId){
										<option value="@value.deparmentId" selected>@value.deparmentName</option>
									} else {
										<option value="@value.deparmentId">@value.deparmentName</option>
									}
								}
							</select>
							<span class="help-block"></span>
						</div>
						
						<div class="form-group">
							<label>Email Upper</label> <input class="form-control" value="@userForm("emailUpper").value" name="emailUpper" id="emailUpper">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary">Update</button>
						<a href="@routes.AdminController.listUser()">
			                <button class="btn btn-default">Cancel</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
}
