@import entity._
@import play.i18n._
@import java.util.List

@(employeeApplyForm : Form[CreateEmployeeApplyForm],deparments : List[Deparment],users: List[User],reasons: List[Reason],emailLogin: String, roleIdLogin: String) 
@main("Welcome user") { 
@admin_header("List User",emailLogin,roleIdLogin)
<div id="wrapper">
	@admin_header("List User",emailLogin, roleIdLogin)
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">List user</h1>
					<ol class="breadcrumb">
						<li><i class="fa fa-dashboard"></i> <a href="index.html">HR Manager</a></li>
						<li class="active"><i class="fa fa-table"></i> Nộp đơn</li>
					</ol>
				</div>
			</div>
			<!-- /.row -->

			<div class="row">
				<form method="POST" action="@routes.EmployeeController.emloyeeApplyPost()">
					<div class="col-lg-6">
						<div class="form-group">
							<label>Người nộp đơn</label>
							<input class="form-control" value="@employeeApplyForm("fullName").value" readonly="readonly" name="fullName" id="fullName">
						</div>
						
						<div class="form-group">
							<label>Người duyệt</label>
							<select class="form-control" name="emailManager" id="emailManager">
								@for(value <- users) {
									<option value="@value.email">@value.fullName</option>
								}
							</select>
						</div>
						
						<div class="form-group">
							<div class="form-group">
								<label>Từ ngày</label>
								<div class='input-group date'>
									<input type="Text" name="fromDate"  value="@employeeApplyForm("fromDate").value" id="fromDate"
				 								maxlength="25" size="25"  readonly/>  
				 								 <img src="/assets/img/cal.gif"
												onclick="javascript:NewCssCal('fromDate', 'yyyyMMdd')" style="cursor: pointer" />
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-6">
						<div class="form-group">
							<label>Đơn vị</label>
							<select class="form-control" name="deparmentid" id="deparmentid">
								@for(value <- deparments) {
									@if(employeeApplyForm("deparmentid").value.get.toInt == value.deparmentId){
										<option value="@value.deparmentId" selected>@value.deparmentName</option>
									} else {
										<option value="@value.deparmentId">@value.deparmentName</option>
									}
								}
								
							</select>
						</div>
						
						<div class="form-group">
							<label>Lý do nghỉ</label>
							<select class="form-control" name="reasonId" id="reasonId">
								@for(value <- reasons) {
									@if(employeeApplyForm("reasonId").value.get.toInt == value.reasonId){
										<option value="@value.reasonId" selected>@value.reasonName</option>
									} else {
										<option value="@value.reasonId">@value.reasonName</option>
									}
								}
								
							</select>
						</div>
						
						<div class="form-group">
							<div class="form-group">
								<label>Đến ngày</label>
								<div class='input-group date'>
									<input type="Text" name="toDate"  value="@employeeApplyForm("toDate").value" id="toDate"
				 								maxlength="25" size="25"  readonly/>  
				 								 <img src="/assets/img/cal.gif"
												onclick="javascript:NewCssCal('toDate', 'yyyyMMdd')" style="cursor: pointer" />
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="emailEmployee" id="emailEmployee" value="@employeeApplyForm("emailEmployee").value">
					
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary">Nộp đơn</button>
						<a href="@routes.AdminController.listUser()">
			                <button class="btn btn-default">Cancel</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
}
