@(person: Form[CreatePersonForm])(implicit messages: Messages)

@import helper._

@main("Welcome to Play") {
	<ul id="persons"></ul>
	<form method="POST" action="@routes.Application.addPerson()">
	<div class="form-group">
		<table class="table" border=2px>
		<tr>
							<td><label>Name</label></td>

							<td><input type="text"  value="@person("name").value" placeholder="Pleace input name" name="name" id="name" class="form-control" /></td>
  						</tr>
  						<tr>
							<td><label>Age</label></td>

							<td><input type="text"  value="@person("age").value" placeholder="Pleace input name" name="age" id="age" class="form-control" /></td>
  						</tr>
  						<button class='btnEdit btn btn-primary' type="submit" >Add</button>
		</table>
	</div>
	</form>
}
