@() 
@main("Welcome to Play") {
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
<div class="container">
  <h2>Bordered Table</h2>
  <p>The .table-bordered class adds borders to a table:</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july</td>
      </tr>
    </tbody>
  </table>
</div>

}