@() @main("Welcome to Play") {
<div class="container">
	<div class="omb_login">
		<h3 class="omb_authTitle">
			Đăng Nhập Tài Khoản
		</h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">

			<div class="col-xs-12 col-sm-6">
				<a href="/loginByGoogle">
					<button class="btn btn-lg btn-danger btn-block">Bằng Google+</button>
				</a>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
				<form class="omb_loginForm" action="" autocomplete="off"
					method="POST">
					<input type="text" class="form-control" name="username"
						placeholder="email address">
					<span class="help-block"></span>

					<input type="password" class="form-control" name="password"
						placeholder="Password">
					<span class="help-block">Password error</span>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Đăng Nhập</button>
				</form>
			</div>
		</div>
	</div>
</div>
}
