.mg_10 {
	margin-top: 10px;
}
a:hover {
    text-decoration: none;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.width_button_show {
    width: 85px;
}
.width_button_approval {
    width: 63px;
}
